.page {
    background-color: var(--background-color);

    @include desktop {
        width: 77.778dvw;
        grid-column: 2/3;
        grid-row: 1/3;
    }

    &--container {
        padding-block: 1.5rem;
        padding-inline: 1rem;

        @include mobile-s {
            padding-inline: 1.5rem;
        }

        @include desktop {
            padding-block: 2.5625rem 3.0625rem;

        }
    }
}